.cartPage {
  margin-inline: auto;
  padding-block: 1rem;
  width: 90vw;
}

.header {
  margin-bottom: 1rem;
}

.pageTitle {
  font-size: 1.2rem;
  font-weight: 700;
}

.rule {
  border: 1px solid var(--grey);
}

.cartDisplay {
  /* height: 108px; */
  margin-bottom: 2rem;
  /* padding: 1rem; */
}

.empty {
  margin-bottom: 1rem;
}

.total {
  align-items: baseline;
  display: flex;
  /* gap: 4rem; */
  gap: 2rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.4rem;
  font-weight: 300;
}

.cartActions {
  display: flex;
  justify-content: space-between;
  /* margin-inline: 15vw; */
}

@media (min-width: 900px) {
  .price {
    font-size: 1.6rem;
  }
}
