.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* padding: 0.5rem 1rem; */
  /* padding-inline: 1rem; */
  /* z-index: 9; */
}

.logo {
  height: 40px;
  padding-left: 1rem;
  transform: scale(0.8);
}
