.root {
  align-items: flex-end;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.2rem;
}

.trigger {
  background-color: transparent;
  border: 0;
  display: block;
  font-size: 1.2rem;
  margin-inline: 2rem;
  padding: 0;
  width: 64px;
}

.trigger::after {
  background-color: var(--black);
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  transition: width 150ms ease;
  width: 0;
}

.trigger[data-state='open']::after {
  width: 64px;
}

.viewportContainer {
  left: 0;
  position: fixed;
  top: 58px;
  transform-origin: top;
  width: 100%;
}

.viewport {
  align-items: center;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: top center;
  width: 100%;
}
.viewport[data-state='open'] {
  animation: viewportIn 200ms ease;
}
.viewport[data-state='closed'] {
  animation: viewportOut 200ms ease;
}

.content {
  padding: 2rem;
  width: 100%;
}

.menu {
  all: unset;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  position: relative;
  width: 100%;
}

.card {
  position: relative;
}

.image {
  filter: brightness(75%);
}

.card:hover .image {
  filter: brightness(100%);
}

.title {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  text-shadow: var(--shadow);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.superTitle {
  font-size: 2.5rem;
  font-weight: 900;
}

.blogTitle {
  font-size: 1.25rem;
}
.unfunk {
  font-size: 1.5rem;
}
.moodboard {
  text-align: right;
  top: 60%;
  transform: translateX(-45%);
}
.street {
  left: 10%;
  text-align: left;
  top: 10%;
  transform: translate(0, 0);
}
.hanging {
  top: 35%;
}

.logoCard {
  background-color: var(--blue);
  cursor: default;
  position: relative;
}
.logoImage {
  z-index: -1;
}
.logoBox {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.logo {
  transform: scale(1);
}
.logo path {
  fill: var(--white);
}
.tag {
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.75;
}

.aboutBox {
  background-color: var(--white);
  border: 2px solid var(--black);
}
.aboutList {
  font-size: 1.2rem;
  list-style: none;
  padding-left: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.aboutList li {
  margin-bottom: 0.5rem;
}
.aboutList li:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .title {
    font-size: 1.5rem;
  }
  .superTitle {
    font-size: 3rem;
  }
  .blogTitle {
    font-size: 1.5rem;
  }
  .unfunk {
    font-size: 2rem;
  }
  .logo {
    transform: scale(1.25);
  }
  .tag {
    font-size: 1.25rem;
    line-height: 1;
  }
  .aboutList {
    padding-left: 3rem;
  }
  .aboutList li {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1100px) {
  .title {
    font-size: 2rem;
  }
  .superTitle {
    font-size: 4rem;
  }
  .blogTitle {
    font-size: 1.5rem;
  }
  .moodboard {
    top: 65%;
    transform: translateX(-30%);
  }
  .logo {
    transform: scale(1.5);
  }
  .tag {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .aboutList li {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 1400px) {
  .title {
    font-size: 2.5rem;
  }
  .superTitle {
    font-size: 5rem;
  }
  .blogTitle {
    font-size: 2rem;
  }
  .moodboard {
    top: 65%;
    transform: translateX(-30%);
  }
  .logo {
    transform: scale(1.5);
  }
  .tag {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  .aboutList {
    font-size: 1.5rem;
  }
  .aboutList li {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1800px) {
  .unfunk {
    font-size: 3rem;
  }
  .moodboard {
    top: 70%;
  }
  .logo {
    transform: scale(1.75);
  }
  .tag {
    font-size: 1.75rem;
    line-height: 1.5;
  }
  .aboutList li {
    margin-bottom: 3rem;
  }
}

@media (max-width: 1200px) {
  .content {
    padding: 2rem 1rem;
  }
  .menu {
    gap: 1rem;
  }
}

@keyframes viewportIn {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes viewportOut {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
