.root {
  align-items: flex-end;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}

.list {
  /* align-items: flex-end; */
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;
  padding-bottom: 0.2rem;
}

.trigger {
  background-color: transparent;
  border: 0;
  display: block;
  font-size: 1.2rem;
  margin-inline: 2rem;
  padding: 0;
  width: 64px;
}

.trigger::after {
  background-color: var(--black);
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  transition: width 150ms ease;
  width: 0;
}

.trigger[data-state='open']::after {
  width: 64px;
}

.viewportContainer {
  /* height: 40vh; */
  left: 0;
  position: fixed;
  top: 58px;
  transform-origin: top;
  /* transition: width 1s; */
  width: 100%;
  /* z-index: -999; */
}

.viewport {
  align-items: center;
  background-color: var(--yellow);
  display: flex;
  /* height: 100%; */
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: top center;
  width: 100%;
  /* z-index: -1; */
}
.viewport[data-state='open'] {
  animation: viewportIn 200ms ease;
}
.viewport[data-state='closed'] {
  animation: viewportOut 200ms ease;
}

.content {
  /* height: 80%; */
  padding: 2rem;
  width: 100%;
}

.menu {
  all: unset;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  /* height: 100%; */
  list-style: none;
  position: relative;
  width: 100%;
}

.card {
  position: relative;
}

.image {
  filter: brightness(75%);
}

.card:hover .image {
  filter: brightness(100%);
}

.title {
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  text-shadow: var(--shadow);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.superTitle {
  font-size: 5rem;
  font-weight: 900;
}

.blogTitle {
  font-size: 1.5rem;
  left: 10%;
  text-align: left;
  top: 10%;
  transform: translate(0, 0);
}

.unfunk {
  font-size: 2.5rem;
  /* text-align: center; */
  /* top: 50%; */
}

.moodboard {
  padding-left: 1rem;
  right: 10%;
  text-align: right;
  top: 70%;
}

.hanging {
  top: 25%;
}

.logoCard {
  background-color: var(--blue);
  position: relative;
}
.logoImage {
  z-index: -1;
}
.logoBox {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.logo {
  fill: var(--white);
  transform: scale(1.6);
}
.logo path {
  fill: var(--white);
}
.tag {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  /* text-shadow: var(--shadow); */
}

.aboutBox {
  background-color: var(--white);
  border: 2px solid var(--black);
}

.aboutList {
  font-size: 1.2rem;
  list-style: none;
  /* padding: 1rem; */
  padding-left: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.aboutList li {
  margin-bottom: 1.5rem;
}

.aboutList li:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .superTitle {
    font-size: 4rem;
  }
}

@media (max-width: 1200px) {
  .content {
    padding: 2rem 1rem;
  }

  .menu {
    gap: 1rem;
  }
}

@keyframes viewportIn {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes viewportOut {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
