.root {
  align-items: flex-end;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}

.list {
  /* align-items: flex-end; */
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;
  padding-bottom: 0.2rem;
}

.trigger {
  background-color: transparent;
  border: 0;
  display: block;
  font-size: 1.2rem;
  margin-inline: 2rem;
  padding: 0;
  width: 64px;
}

.trigger::after {
  background-color: var(--black);
  content: '';
  display: block;
  height: 4px;
  /* left: 0; */
  position: absolute;
  /* transform: translateX(42.5%); */
  transition: width 150ms ease;
  width: 0;
}

.trigger:hover::after,
.trigger:focus::after {
  width: 64px;
}

.viewportContainer {
  /* height: 40vh; */
  left: 0;
  position: fixed;
  top: 58px;
  transform-origin: top center;
  transition: width 1s;
  width: 100%;
}

.viewport {
  align-items: center;
  background-color: var(--yellow);
  display: flex;
  /* height: 100%; */
  justify-content: center;
  overflow: hidden;
  transform-origin: top center;
}
.viewport[data-state='open'] {
  animation: slideIn 300ms ease-in-out;
}
.viewport[data-state='closed'] {
  animation: slideOut 300ms ease-in-out;
}

.content {
  /* height: 80%; */
  padding: 2rem;
  width: 100%;
}

.menu {
  all: unset;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  /* height: 100%; */
  list-style: none;
  position: relative;
  width: 100%;
}

.listItem {
  align-self: center;
  /* aspect-ratio: 1 / 1; */
  justify-self: center;
  /* position: inherit; */
}

.listItem:hover,
.listItem:focus {
  border: 6px solid var(--blue);
}

.image {
  /* grid-column-start: 1; */
  /* grid-column-end: 2; */
  /* padding: 1rem 0; */
  position: relative;
  /* object-fit: fill; */
}

.title {
  color: var(--white);
  font-size: 2rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: 1200px) {
  .content {
    padding: 2rem 1rem;
  }

  .menu {
    gap: 1rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}
