.productPage {
  display: flex;
  flex-direction: column;
  /* max-width: 1440px; */
  padding: 1rem;
}

.header {
}

.title {
  flex-basis: fit-content;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;
  max-width: 60ch;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  padding: 1rem 1rem 3rem;
}
