.productPage {
  display: flex;
  justify-content: center;
  max-width: 1440px;
}

.container {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, 332px);
  margin: 2rem;
  width: 100%;
}

.header {
  grid-column: 1/-1;
}

.sorter {
  grid-column: 1/-1;
  margin-left: auto;
  /* margin-right: 1rem; */
}

.sortIcon {
  all: unset;
  cursor: pointer;
  transform: scale(2);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.description {
  /* margin-bottom: 2rem; */
  max-width: 60ch;
}
