.sizeList {
  all: unset;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sizeBtn {
  all: unset;

  align-items: center;
  border: 1px solid var(--grey);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.sizeBtn:focus {
  border: 1px solid var(--blue);
}

.selected {
  background-color: var(--orange);
}

.sizeBtn:not(.selected):hover {
  background-color: var(--orange-lt);
}
