.card {
  --wide: clamp(300px, 90vw, 720px);
  /* cursor: pointer; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 0 auto; */
  width: var(--wide);
}

.cover {
  display: grid;
  grid: 1fr / 1fr;
  height: var(--wide);
  position: relative;
  width: 100%;
}

.id {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  z-index: 2;
}

.image {
  grid-column-start: 1;
  grid-row-start: 1;
  position: relative;
}

.vertCenter {
  margin: auto 0;
}

.title {
  background-color: rgba(0, 0, 0, 0.35);
  color: var(--white);
  font-size: 3rem;
  text-align: center;
}

.altTitle {
  font-size: 1.5rem;
  padding: 1rem 0;
  padding-left: 1rem;
  position: relative;
  text-align: left;
  top: 15%;
}

.caption {
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding-top: 0.2rem;
}

@media (min-width: 600px) {
  .altTitle {
    font-size: 2rem;
    padding-left: 3rem;
  }
}
