.cover {
  height: 100vh;
}

.image {
  height: 100%;
  position: relative;
  top: -56px;
  width: 100%;
}

.title {
  --titleSize: clamp(3rem, 14vw, 5rem);
  color: var(--white);
  font-size: var(--titleSize);
  font-weight: 700;
  left: 5vw;
  line-height: var(--titleSize);
  position: absolute;
  text-shadow: var(--shadow);
  top: 40vh;
}

.subtitle {
  --subtitleSize: clamp(2rem, 9vw, 3.5rem);
  color: var(--white);
  font-size: var(--subtitleSize);
  font-weight: 700;
  line-height: var(--subtitleSize);
  position: absolute;
  right: 5vw;
  text-align: right;
  text-shadow: var(--shadow);
  top: 80vh;
}

.firstLine {
  font-size: calc(var(--subtitleSize) * 0.9);
}

@media (min-width: 1100px) {
  .title {
    font-size: 6rem;
    line-height: 6rem;
  }
}
