.cover {
  display: grid;
  grid: 1fr / 1fr;
  height: 100vh;
  position: relative;
  top: -56px;
  width: 100vw;
}

.overlay {
  color: white;
  grid-column-start: 1;
  grid-column-end: 1;
  z-index: 1;
}

.title {
  font-size: 3rem;
  left: 5vw;
  line-height: 3rem;
  position: relative;
  top: 40vh;
  width: 80vw;
  /* z-index: 3; */
}

.subtitle {
  left: 10vw;
  line-height: 2rem;
  position: relative;
  text-align: right;
  top: 70vh;
  width: 85vw;
}

.firstLine {
  font-size: 1.8rem;
}

.secondLine {
  font-size: 2rem;
}

.image {
  grid-column-start: 1;
  grid-column-end: 1;
  height: 100%;
  width: 100%;
}
