.carouselContainer {
  margin-bottom: 1rem;
  width: 100%;
}

.slide {
  flex: 1;
}

.swiperSlide {
  display: block;
}

.slideImage {
  aspect-ratio: 1/1;
  height: 180px;
  position: relative;
}

@media (min-width: 768px) {
  .slideImage {
    height: 192px;
  }
}

@media (min-width: 1020px) {
  .slideImage {
    height: 204px;
  }
}

@media (min-width: 1296px) {
  .slideImage {
    height: calc(100vw / 6);
  }
}
