.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  position: fixed;
}

.content {
  background-color: var(--white);
  border: 3px solid var(--orange);
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  color: var(--black);
  padding: 1rem;

  align-items: center;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.cancel {
  margin: 1em auto 0;
}
