.layout {
  /* overflow-y: scroll; */
}

.header {
  /* background-color: var(--red); */
  /* left: 0; */
  position: sticky;
  /* right: 0; */
  top: 0;
  width: 100%;
  z-index: 9;
}

.main {
  /* width: 100vw; */
}
