.viewport {
  bottom: 0;
  right: 0;
  list-style: none;
  margin-right: 1rem;
  position: fixed;
  /* transform: translate(-50%, -50%); */
  width: max-content;
  z-index: 9;
}

.root {
  background-color: var(--white);
  border: 1px solid var(--blue);
  /* border-radius: 8px; */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  color: var(--black);
  padding: 1rem;
}

@media (max-width: 599px) {
  .viewport {
    top: 25%;
  }
}
