.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  /* padding-top: 56px; */
  position: fixed;
  right: 0;
  top: 0;
  /* transition: left 1s ease-out; */
  z-index: 8;
}

.modal {
  background-color: var(--white);
  color: var(--black);
  height: 100%;
  padding: 1rem;
  position: fixed;
  top: 56px;
  width: 100%;
}

@media (min-width: 600px) {
  .modal {
    max-height: 40%;
  }
}
