.card {
  border: 1px solid var(--grey);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card:hover {
  border: 1px solid var(--blue);
}

.image {
  position: relative;
  width: minmax(300px, 400px);
}

.header {
  display: flex;
  height: 40px;
  justify-content: space-between;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 900;
  max-width: 67%;
}

.price {
  font-size: 1.4rem;
  font-weight: 300;
}
