.trigger {
  all: unset;
  /* border: 1px solid black; */
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 0.5rem;
  height: 44px;
  justify-content: center;
  line-height: 1;
  padding-left: 0.5rem;
}
.trigger:hover {
  background-color: var(--orange-lt);
}
.trigger:focus {
  box-shadow: 0 0 0 2px var(--blue);
}

.content {
  background-color: var(--white);
  border: 2px solid var(--orange);
  border-radius: 8px;
}

.viewport {
  padding: 1rem;
}

.label {
  font-size: 0.8rem;
}

.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 44px;
  /* justify-content: center; */
  user-select: none;
}

.item[data-highlighted] {
  font-weight: 700;
}

@media (min-width: 769px) {
  .item {
    height: auto;
  }
}
