.footer {
  background-color: var(--grey);
  padding: 1rem;
}

.logoContainer {
  display: flex;
  /* height: auto; */
  justify-content: flex-start;
  /* padding: 0; */
  /* width: auto; */
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0;
  transform-origin: 0 0;
  transform: scale(0.8);
  width: auto;
}

.tag {
  font-weight: 700;
  line-height: 1;
}

.signup {
  margin-top: 1rem;
}

.email {
  /* border: 1px solid black; */
  /* box-sizing: border-box; */
  height: 40px;
  padding: 0;
  width: 320px;
}

.ctaInfo {
  font-size: 0.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* grid-template-columns: 2fr 1fr; */
  margin-top: 0.5rem;
}

@media (min-width: 600px) {
  .signup {
    max-width: 60%;
  }

  /* .btn {
    font-size: 1rem;
    height: auto;
  } */

  .form {
    align-items: center;
    flex-direction: row;
  }
}
