.cover {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 80vw;
}

.coverImage {
  height: 80vw;
  position: relative;
  width: 100%;
}

@media (min-width: 900) {
  .cover {
    width: 60vw;
  }

  .coverImage {
    height: 60vw;
  }
}
