.gallery {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
  width: 100vw;
}

.img {
  height: auto;
  position: relative;
}

.flyer {
  aspect-ratio: 1 / 1.4;
  width: 80%;
}

.horz {
  aspect-ratio: 1 / 0.667;
  width: 100%;
}

.vertSlim {
  aspect-ratio: 1 / 1.777;
  width: 75%;
}

.vert {
  aspect-ratio: 2 / 3;
  width: 90%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-block-end: 3rem;
  max-height: 90vh;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.grp14 {
  aspect-ratio: 3 / 4;
}

.grp23 {
  aspect-ratio: 2 / 3;
}

@media (min-width: 768px) {
  .imageContainer {
    margin-block-end: 6rem;
  }
}
