.blogList {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* width: 90vw; */
}

.blogCard {
  --wide: clamp(300px, 90vw, 720px);
  display: flex;
  flex-direction: column;
  margin-block: 1.5rem;
  width: var(--wide);
}

.blogCard .cardImage {
  height: var(--wide);
  /* max-width: 90vw; */
  position: relative;
  width: 100%;
}

.blogCard .blogTitle {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 1.5rem;
  /* margin-top: 30%; */
  padding: 0.5rem;
  padding-left: 1.5rem;
  position: absolute;
  z-index: 2;
}
